<?xml version="1.0" encoding="UTF-8"?>  

<widget xmlns ="http://www.w3.org/ns/widgets"
  xmlns:gap= "http://phonegap.com/ns/1.0"
  id = "com.phonegap.appAhorcado"
  version = "1.0.0">
  
  <name> Juego del ahorcado</name>
  
  <description>
   Aplicacion que nos permite jugar al ahorcado
  </description>
  
  <author href="https://build.phonegap.com" email="javierr.morales39@gmail.com">
  Javier Rugerio Morales, Brisa Rubí Sarmiento Suárez, Ian Pablo Rojas Hernández Lima, Abigail Martines Rosas, Andres Rojano Martines
  </author>
  
  <!-- Personaliza la aplicacion y plataforma -->
  <preference name="orientation" value="default"/>
  <!-- <preference name="orientation" value="portrait">
  <preference name="orientation" value="landscape"/> -->
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="permissions" value="INTERNET"/> 
  <preference name="AutoHideSplashScreen" value="true"/>
  <preference name="SplashScreenDelay" value="3000"/>
   
  <!--Plugins-->
  <plugin name="cordova-plugin-device" spec="~1.1.4"/>
  <plugin name="cordova-plugin-vibration" spec="~2.1.3"/>
  <plugin name="cordova-plugin-dialogs" spec="~1.3.1"/>
  
  <!--Para geolocalizar-->
  <plugin name="cordova-plugin-geolocation" spec="2.4.3"/>
  <!--Para accesar a paginas en internet-->
   <allow-intent href="https://*/*"/>
   <acces origin="https://*/*"/>
   <allow-intent href="http://*/*"/>
   <acces origin="http://*/*"/>
   <plugin name="cordova-plugin-whitelist" source="npm"/>
   
   <!--Colocar icono app-->
   <icon src="images/mdpi.png"/>
   
   <!-- Splash -->
   
   <gap:Splash src="images/mdpi.png"/>
   
   <platform name="android">
    <splash src="res/android/splash-land-hdpi.png" qualifier="land- hdpi"/>
    <splash src="res/android/splash-land-ldpi.png" qualifier="land-ldpi"/>
    <splash src="res/android/splash-land-mdpi.png" qualifier="land-mdpi"/>
    <splash src="res/android/splash-land-xhdpi.png" qualifier="land-xhdpi"/>
    <splash src="res/android/splash-land-xxhdpi.png" qualifier="land-xxhdpi"/>
    <splash src="res/android/splash-port-hdpi.png" qualifier="port-hdpi"/>
    <splash src="res/android/splash-port-ldpi.png" qualifier="port-ldpi"/>
    <splash src="res/android/splash-port-mdpi.png" qualifier="port-mdpi"/>
    <splash src="res/android/splash-port-xhdpi.png" qualifier="port-xhdpi"/>
    <splash src="res/android/splash-port-xxhdpi.png" qualifier="port-xxhdpi"/>
   </plataform>
   <gap:Splash src="images/mdpi.png" gap:plataform="android" gap:qualifier="mdpi"/>
  
  </widget>  